{
 :eqimservers [
    {:ip "10.33.8.174" :port 5001 :user "show" :pass "show"}
    {:ip "10.33.253.45" :port 5001 :user "test" :pass "test"}
    {:ip "10.33.253.46" :port 5001 :user "show" :pass "show"}
    ;;{:ip "10.33.253.46" :port 5001 :user "show" :pass "show"}
  ]
 :rts {
                                      :ip  "10.33.253.103" ;地址
                                      :port 5000
                                      :timelong 80000000000000
                                      :cachelong 600
                                      :user "rts"
                                      :pass "rts"
       }
 :eventranges [
		{:range [120 121 29 30] :sname []}
		{:range [121.92 122.32 30.13 30.53]
		:sname [
		    {:name "舟山岱山1"
		     :stations [
		                {:name "ZJ/ZHS" :stime "2014-07-06 17:33:42.83" :second 11 :move 10}
		                {:name "ZJ/DJD" :stime "2014-07-06 17:33:46.98" :second 25 :move 10}
		                {:name "ZJ/NIB" :stime "2014-07-06 17:33:49.04" :second 25 :move 10}
		                {:name "ZJ/YIX" :stime "2014-07-06 17:33:53.33" :second 25 :move 10}
		                {:name "ZJ/SHS" :stime "2014-07-06 17:33:46.25" :second 25 :move 10}
		                {:name "ZJ/CIX" :stime "2014-07-06 17:33:53.00" :second 25 :move 10}
		                {:name "ZJ/YUY" :stime "2014-07-06 17:33:55.09" :second 25 :move 10}
		               ]
		    }
		]}

		{:range [122.27 122.67 30.28 30.68]
		:sname [
		    {:name "舟山岱山2"
		     :stations [
		                {:name "ZJ/SHS" :stime "2014-07-07 02:19:35.25" :second 15 :move 10}
		                {:name "ZJ/DJD" :stime "2014-07-07 02:19:37.34" :second 20 :move 10}
		                {:name "ZJ/ZHS" :stime "2014-07-07 02:19:41.12" :second 20 :move 10}
		                {:name "ZJ/NIB" :stime "2014-07-07 02:19:48.92" :second 20 :move 10}
		               ]
		    }
		]}

		{:range [121.92 122.32 30.13 30.53]
		:sname [
		    {:name "丽水莲都区"
		     :stations [
		                {:name "ZJ/FY"  :stime "2014-07-07 12:21:10.70" :second 20 :move 10}
		                {:name "ZJ/SOY" :stime "2014-07-07 12:21:11.49" :second 20 :move 10}
		                {:name "ZJ/YHE" :stime "2014-07-07 12:21:13.33" :second 20 :move 10}
		                {:name "ZJ/QIT" :stime "2014-07-07 12:21:14.03" :second 20 :move 10}
		                {:name "ZJ/WUY" :stime "2014-07-07 12:21:15.41" :second 20 :move 10}
		                {:name "ZJ/WF"  :stime "2014-07-07 12:21:16.24" :second 20 :move 10}
		                {:name "ZJ/YH"  :stime "2014-07-07 12:21:20.07" :second 20 :move 10}
		               ]
		    }
		]}

		{:range [119.5 120.1 29.67 30.07]
		:sname [
		    {:name "桐庐富阳交界"
		     :stations [
		                {:name "ZJ/TOL" :stime "2014-06-29 11:37:50.43" :second 25 :move 10}
		                {:name "ZJ/XSH" :stime "2014-06-29 11:37:53.23" :second 25 :move 10}
		                {:name "ZJ/XAJ" :stime "2014-06-29 11:37:56.53" :second 25 :move 10}
		                {:name "ZJ/HAZ" :stime "2014-06-29 11:37:56.65" :second 25 :move 10}
		               ]
		    }
		]}

		{:range [120.63 121.03 27.47 28.07]
		:sname [
		    {:name "温州瑞安"
		     :stations [
		                {:name "ZJ/WEZ" :stime "2014-07-07 15:52:57.75" :second 25 :move 10}
		                {:name "ZJ/CAN" :stime "2014-07-07 15:53:00.09" :second 25 :move 10}
		                {:name "ZJ/SX"  :stime "2014-07-07 15:53:05.26" :second 25 :move 10}
		                {:name "ZJ/WF"  :stime "2014-07-07 15:53:06.72" :second 25 :move 10}
		                {:name "ZJ/QIT" :stime "2014-07-07 15:53:08.14" :second 25 :move 10}
		               ]
		    }
		]}


]
}